<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Documentos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" src="static/css/styles.css">
</head>
<body>
 {% if session['rol']=='1' %}
{% include 'admin.html' %}
{% else %}
{% include 'normal.html' %}
{% endif %}
        
        <div class="row col-12 mt-5" >
            <div class="col-md-4" align="center">
                <img src="../static/images/ejemplo.png" class="img-fluid" alt="Death of Mr Dodsley" style="width:90%"/>
            </div>
            <div class="col-md-8">
                <h2>Traspaso de Vehiculo</h2>
                <h4 class="text-muted">John Ferguson</h4>
                <div class="d-flex align-items-center">
                    <span class="badge badge-warning">5.0 / 5.0</span>
                    <span class="ml-2">0 comments</span>
                </div>
                
  <p class="mt-4" height="150px">"Golden Age fans with a taste for deferred gratification are in for another unexpected treat."--Kirkus ReviewsA fair play, double twist mystery where a beloved London bookseller with a passion for rare books is found shot to death in his locked bookshop.Mr. Richard Dodsley, owner of a fine secondhand bookshop on Charing Cross Road, has been found murdered in the cold hours of the morning. He'd been shot in his own office, where few clues remain besides three cigarette ends, two spent matches, and a few books on the shelves which have been rearranged.In an investigation spanning the secondhand bookshops of London and the Houses of Parliament, Ferguson's series sleuth MacNab, is at hand to assist Scotland Yard.This edition includes an introduction by CWA Diamond Dagger and Edgar® Award-winning author Martin Edwards.</p>
                <p><strong>Categoria :</strong> Traspaso de Vehiculo 
                <button class="btn btn-link p-0 ml-2">
                        <img src="https://img.icons8.com/material-outlined/24/000000/edit--v1.png" alt="Editar" />
                    </button></p>
                <p><strong>Fecha de creacion :</strong> 13/06/2024 </p>
                <p><strong>Paginas :</strong> 15 paginas </p>
                <p><strong>Estado de documento :</strong> En proceso </p>
                
                <p><strong>Abogado del caso :</strong> Lic. Walberto Hueso</p>
                
                <button class="btn btn-outline-success rounded-pill">Actualizar</button>
                <button class="btn btn-outline-danger rounded-pill">Finalizar</button>
                <button class="btn btn-outline-warning rounded-pill">Archivar</button>
                <button class="btn btn-outline-info rounded-pill">Regresar</button>

            </div>
        </div>
    </div>

<footer class="text-center mt-5">
  <p>Bufete Cartagena 2024</p>
</footer>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>