<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Categorías</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <style>
        /* Agrega aquí tu CSS personalizado */
    </style>
</head>
<body>

 {% if session['rol']=='1' %}
{% include 'admin.html' %}
{% else %}
{% include 'normal.html' %}
{% endif %}

    <div class="container mt-5">
        <h1 class="mb-4">Caratulas realizadas</h1>
        <div class="table-responsive">
            <table id="datosportada" class="table table-striped">
                <thead>
                    <tr>
                        
                        <th>A favor de</th>
                        <th>Año</th>
                        <th>Continente</th>
                        <th>Departamento</th>
                        <th>Libro</th>
                        <th>Notario</th>
                        <th>Numero</th>
                        <th>Otorgado Por</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <footer class="text-center mt-5">
        <p>Bufete Cartagena 2024</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#datosportada').DataTable({
                "ajax": {
          "url": "/dataportada",
          "dataSrc": ""
        },
                "columns": [
                    { "data": "aFavorDe" },
                    { "data": "anio" },
                    { "data": "continente" },
                    { "data": "departamento" },
                    { "data": "libro" },
                    { "data": "notario" },
                    { "data": "numero" },
                    { "data": "otorgadoPor" },
                    {
                        "data": null,
                        "render": function(data, type, row) {
                            return '<button class="btn btn-primary btn-sm">Ver</button>';
                        }
                    }
                ]
            });
        });
    </script>
</body>
</html>
