<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Login</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .move-down {
      margin-top: -6rem; /* Ajusta este valor según tus necesidades */
    }
  </style>
  <head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
</head>
<body >

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Inicio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/msj">Mensaje</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container d-flex justify-content-center align-items-center vh-100 move-down">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">Iniciar Sesión</h5>
                <form id="formulario">
                    <div class="form-group">
                        <label for="username">Usuario</label>
                        <input type="text" class="form-control" id="username" placeholder="Enter Username" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Enter Password" required>
                    </div>
                    <button type="submit" class="btn btn-success btn-block">Loguear</button>
                </form>
            </div>
        </div>
    </div>


<script type="text/javascript">
  $(function(){

  $('#formulario').on('submit',function(event){
    event.preventDefault();
    console.log("entre");

    $.ajax({
      type:'POST',
      url:'/login',
      data:{
        nombre:$('#username').val(),
        password: $('#password').val()
      },
      success:function(response){
        console.log(response)
        $('#formulario')[0].reset();
        alert('Todo ok')
      },
      error:function(response){
        alert('Algo Salio Mal')
      }
    })
  })


});

</script>
    <footer class="text-center mt-0">
        <p>Bufete Cartagena 2024</p>
    </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>




